<ion-view view-title="{{device.name}}">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">{{device.name}}</div>
            <div class="item item-body">
                {{device.id}}
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">All</div>
            <ion-list>
                <ion-item ng-repeat="characteristic in characteristics" ng-click="read(characteristic)" ng-if="characteristic.descriptors[0] !== undefined">
                    {{characteristic.characteristic}} {{characteristic.properties}}
                </ion-item>
            </ion-list>
        </div>

    </ion-content>
</ion-view>