<ion-view view-title="Color">
  <ion-content class="padding">
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="{{rgbValue}}" value="{{rgbValue}}">
        </label>
        <button class="button button-small" ng-click="send()">
          发送
        </button>
      </div>
    </div>
    <div id="colorPicker">
      <a class="color"><div class="colorInner"></div></a>
      <div class="track"></div>
      <ul class="dropdown"><li></li></ul>
      <input type="hidden" class="colorInput"/>
    </div>
    <p id="colorpickerHolder">

    <!--<input id='spectrum' />-->
  </ion-content>
</ion-view>
