<ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <ion-tab title="BLE" icon-off="ion-bluetooth" icon-on="ion-bluetooth" href="#/tab/ble">
        <ion-nav-view name="tab-ble"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Bluetooth" icon-off="ion-bluetooth" icon-on="ion-bluetooth" href="#/tab/bluetooth">
        <ion-nav-view name="tab-bluetooth"></ion-nav-view>
    </ion-tab>

</ion-tabs>